In [2]:
with open('data/headlines.txt') as infile:
    lines = infile.readlines()
lines[-5:]

['Rumors about Rabies spreading in Jerusalem have been refuted\n',
 'More Zika patients reported in Indang\n',
 'Suva authorities confirmed the spread of Rotavirus\n',
 'More Zika patients reported in Bella Vista\n',
 'Zika Outbreak in Wichita Falls\n']

In [3]:
#apply unidecode
from unidecode import unidecode
lines = [unidecode(line.strip()) for line in lines]
lines[-5:]

['Rumors about Rabies spreading in Jerusalem have been refuted',
 'More Zika patients reported in Indang',
 'Suva authorities confirmed the spread of Rotavirus',
 'More Zika patients reported in Bella Vista',
 'Zika Outbreak in Wichita Falls']

In [4]:
import geonamescache

gc = geonamescache.GeonamesCache()
countries = gc.get_countries()
cities = gc.get_cities()

In [5]:
countries_list = []
for country_value in list(countries.values()):
    countries_list.append(country_value['name'])
countries_list[:10]

['Andorra',
 'United Arab Emirates',
 'Afghanistan',
 'Antigua and Barbuda',
 'Anguilla',
 'Albania',
 'Armenia',
 'Angola',
 'Antarctica',
 'Argentina']

In [35]:
cities_list = []
for city_value in list(cities.values()):
    cities_list.append(city_value['name'])
cities_list.append('Sao Paulo')
cities_list[:10]

['Andorra la Vella',
 'Umm Al Quwain City',
 'Ras Al Khaimah City',
 'Zayed City',
 'Khawr FakkƒÅn',
 'Dubai',
 'Dibba Al-Fujairah',
 'Dibba Al-Hisn',
 'Sharjah',
 'Ar Ruways']

In [45]:
import numpy as np
import re
cities_data = []
countries_data = []
for line in lines:
    temp_country = []
    temp_city = []
    for country in set(countries_list):
        if country in line:
            temp_country.append(country)
    for city in set(cities_list):
        if city in line:
            pattern = city + "[a-z]+"
            if re.search(pattern, line) is None:
                temp_city.append(city)
    if not temp_city:
        temp_city.append(np.nan)
    else:
        temp_city_copy = temp_city.copy()
        no_city = []
        for i in range(len(temp_city_copy) - 1):
            for j in range(i + 1, len(temp_city_copy)):
                if temp_city[i] in temp_city[j]:
                    no_city.append(temp_city[i])
                elif temp_city[j] in temp_city[i]:
                    no_city.append(temp_city[j])
        for aCity in no_city:
            if aCity in temp_city:
                temp_city.remove(aCity)
    if not temp_country:
        temp_country.append(np.nan)
    cities_data.append(temp_city)
    countries_data.append(temp_country)

In [69]:
df = pd.DataFrame()
df["Headlines"] = lines
df["Cities"] = cities_data
df["Countries"] = countries_data
df.head()

                                 Headlines           Cities Countries
0                 Zika Outbreak Hits Miami          [Miami]     [nan]
1          Could Zika Reach New York City?  [New York City]     [nan]
2        First Case of Zika in Miami Beach    [Miami Beach]     [nan]
3  Mystery Virus Spreads in Recife, Brazil         [Recife]  [Brazil]
4  Dallas man comes down with case of Zika         [Dallas]     [nan]

In [70]:
def parse(x):
    if type(x[0]) == 'float':
        return None
    return x[0]

df["Cities"] = df["Cities"].map(parse)
df["Countries"] = df["Countries"].map(parse)
df.head()

                                 Headlines         Cities Countries
0                 Zika Outbreak Hits Miami          Miami       NaN
1          Could Zika Reach New York City?  New York City       NaN
2        First Case of Zika in Miami Beach    Miami Beach       NaN
3  Mystery Virus Spreads in Recife, Brazil         Recife    Brazil
4  Dallas man comes down with case of Zika         Dallas       NaN

In [71]:
df.head()

                                 Headlines         Cities Countries
0                 Zika Outbreak Hits Miami          Miami       NaN
1          Could Zika Reach New York City?  New York City       NaN
2        First Case of Zika in Miami Beach    Miami Beach       NaN
3  Mystery Virus Spreads in Recife, Brazil         Recife    Brazil
4  Dallas man comes down with case of Zika         Dallas       NaN